body{width: 960px;
margin: auto;
background-color: rgb(232, 255, 127);}
header{background-color: rgb(228, 92, 92);
height: 150px;}
nav{text-align: center;
position: absolute;top: 60px;
margin-left: 200px;}
.img{height: 150px;}
a{margin-left: 100px;
text-decoration: none;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: cornsilk;}
main{display: grid;grid-template-columns: 200px 730;gap: 30px;
margin-top: 30px;background-color: rgb(114, 223, 250);}
button{background-color: rgb(241, 111, 137);
width: 100px;
height: 40px;
border: 2px solid red;
border-radius: 10px;}
section{text-align: center;
position: relative;bottom: 70px;left: 109px;}
footer{background-color: rgb(228, 92, 92);
    height: 150px;
text-align: center;
font-size: larger;}